/*@page { size: 22.86cm 17.78cm }*/
@page { size: A4 landscape }

h1 { 	page-break-before: always }

body {
/*    display: block;*/
/*    page: main;*/
/*    counter-reset: page 1*/
}

@page main {
    @top { content: string(chapter-title) }
    @bottom {
        content: counter(page)
    }
}

chapter title { string-set: chapter-title content() }


/* TYPOGRAPHY */
body {
  line-height: 1.5;
  color:#000;
  background: none;
  font-size: 11pt;
}

h1 {
	font-size: 42pt;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 24pt;
	margin-top: 50px;
	margin-bottom: 0;
	padding-bottom: 0;
}


h1,h2,h3,
h4,h5,h6  { font-family: Constantia, "Palatino Linotype", Palatino, Georgia, "Times New Roman", Times, serif; }
body      { font-family: Frutiger, Univers, "Helvetica Neue", "Lucida Grande", Calibri, Helvetica, Arial, sans-serif; } 
/*pre       { font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif; } */
pre, code      { font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace; } 
