/*@page { size: 22.86cm 17.78cm }*/
@page { size: A4 landscape }

h1 { 	page-break-before: always }

body {
    display: block;
    page: main;
    counter-reset: page 1
}

@page main {
    @top { content: string(chapter-title) }
    @bottom {
        content: counter(page)
    }
}

chapter title { string-set: chapter-title content() }