<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<!-- <link rel="stylesheet" href="../layout/coderay.css" type="text/css" media="screen" /> -->
	<!-- <link rel="stylesheet" href="../layout/master.css" type="text/css" media="screen" title="no title" charset="utf-8"> -->
	<!-- <link rel="stylesheet" href="../layout/default.css" type="text/css" media="screen" title="no title" charset="utf-8"> -->
	<link rel="stylesheet" type="text/css" href="../layout/boom.css"/>
	<!-- <script src="../layout/shCore.js" type="text/javascript"></script>
	<script src="../layout/shBrushRuby.js" type="text/javascript"></script> -->
	<!-- <link href="../layout/SyntaxHighlighter.css" media="all" rel="stylesheet" type="text/css" /> -->
</head>
<!-- <front></front>
<contents>
	#content
</contents> -->
<body>
	<div class="frontcover">
		<!-- <img src="../images/book-1.jpg"/> -->
		<!-- <h1>Aqui tinha de ter uma imagem....</h1>
		fdfdfd -->
	</div>

	<div class="halftitlepage">
		<h1 class="no-toc">Ruby on Rails 2.1</h1>
		<h2 class="no-toc">O que à de novo</h2>
		<h3 class="no-toc">Primeira Edição</h3>
	</div>

	<div class="titlepage">
	<h1 class="no-toc">Ruby on Rails 2.1</h1>

	<h2 class="no-toc">O que à de novo</h2>
	<h3 class="no-toc">Primeira Edição</h3>

	<p class="no-toc">Carlos Brando<br/>Marcos Tapajós</p>
	<!-- also, the publisher's name would typically be printed here -->
	</div>
	
	<div class="chapter">
	#body
	</div>
</body>
<!-- <script type="text/javascript">
	dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
	dp.SyntaxHighlighter.HighlightAll('code', false, false);
</script> -->
</html>