<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../layout/second.css"/>
	<link rel="stylesheet" type="text/css" href="../layout/mac_classic.css"/>
</head>
<body>
	<div class="frontcover"></div>

	<div class="halftitlepage">
		<h1 class="no-toc">Ruby on Rails 2.1</h1>
		<h2 class="no-toc">O que há de novo</h2>
		<h3 class="no-toc">Primeira Edição</h3>
	</div>

	<div class="titlepage">
	<h1 class="no-toc">Ruby on Rails 2.1</h1>

	<h2 class="no-toc">O que há de novo</h2>
	<h3 class="no-toc">Primeira Edição</h3>

	<p class="no-toc">Carlos Brando<br/>Marcos Tapajós</p>
	<!-- also, the publisher's name would typically be printed here -->
	</div>
	
	<div class="imprint">
		<p>Copyright &copy; 2008 Carlos Brando. Todos os direitos reservados.</p>
		<br/>
		<p>Primeira edição: Junho de 2008</p>
		<br/>
		<p>Carlos Brando<br/>Site: www.nomedojogo.com</p>
	</div>
		
	<!-- <div class="white_page"></div> -->
	
	<!-- <div class="toc">
		<h1>Sumário</h1>
		#toc
	</div> -->
	
	<div class="chapter">
		#body
	</div>
	
	<div class="backcover"></div>
</body>
</html>
